
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #222124;
}
::-webkit-scrollbar {
    box-shadow: 0px 1px 12px #00000080;
    background: #222124; 
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: 5px 222124; 
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(98, 0, 255); 
    border-radius: 10px;
    transition-duration: 1s;
    border: 5px solid #222124;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 14, 219); 
}

::-webkit-scrollbar-corner {
    background-color: #49474d;
}
